{% extends "loggedLayout.html" %}

{% block title %} Not found {% endblock %}

{% block styles %}
<link rel="stylesheet" href="./static/css/profile.min.css">
{% endblock %}

<!-- {% block active %}

{% endblock %} -->

{% block body %}
<div class="main__body">
    <h6 style="text-align: center;color: white;font-size: 84px; display: flex; justify-content: center; align-items: center; width: 100%; font-family: Roboto;">User not found.</h6>
</div>
{% endblock %}

{% block scripts %}
<!-- <script src="./static/js/profile.js"></script> -->
{% endblock %}