.messages {
  width: 100%;
}

.messages__title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0px 30px 0px 30px;
  line-height: 50px;
  height: 50px;
  border-radius: 3.5px;
  background-color: var(--first);
  font-family: Roboto;
  color: #333333;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.277);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.277);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messages__title a {
  color: black;
}

.messages__text {
  position: relative;
  display: inline;
  color: black;
  cursor: pointer;
}

.messages__text.active:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--styleone)), to(var(--styletwo)));
  background: -o-linear-gradient(left, var(--styleone) 0%, var(--styletwo) 100%);
  background: linear-gradient(to right, var(--styleone) 0%, var(--styletwo) 100%);
}

.messages__body {
  background-color: var(--second);
  height: auto;
  border-radius: 3.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.messages__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  border-right: 1px solid grey;
}

.messages__left .title {
  border-radius: 3.5px 0px 0px 3.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messages__left .title input {
  height: 60%;
  width: 80%;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 300;
  padding-left: 10px;
  font-size: 16px;
  background: var(--third);
  color: white;
}

.messages__left .title input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--first);
  opacity: 1;
  /* Firefox */
}

.messages__left .title input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--first);
  opacity: 1;
  /* Firefox */
}

.messages__left .title input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--first);
  opacity: 1;
  /* Firefox */
}

.messages__left .title input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--first);
  opacity: 1;
  /* Firefox */
}

.messages__left .title input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--first);
  opacity: 1;
  /* Firefox */
}

.messages__left .title input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--first);
}

.messages__left .title input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--first);
}

.messages__users {
  overflow: auto;
  max-height: 70vh;
}

.messages__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.messages__right .title {
  border-radius: 0px 3.5px 3.5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.messages__right .title .titleblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messages__right .title .username {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  color: #191919;
}

.messages__right .title .userpicture {
  cursor: pointer;
  position: relative;
}

.messages__right .title .userpicture img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.messages__right .title .close {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  display: block;
}

.messages__right-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
}

.messages__right-messages {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 50px);
          flex: 1 0 calc(100% - 50px);
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messages__right-messages::-webkit-scrollbar {
  width: 5px;
}

.messages__right-messages::-webkit-scrollbar-track {
  background: none;
}

.messages__right-messages::-webkit-scrollbar-thumb {
  background: var(--first);
  border-radius: 5px;
}

.messages__right-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.messages__container {
  max-width: 60%;
  margin: 0 auto;
}

.messages__right-send {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messages__right-send input {
  height: 30px;
  width: 75%;
  background-color: transparent;
  font-family: Roboto;
  color: white;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-weight: 300;
}

.messages__right-send button {
  height: 30px;
  margin-left: 10px;
  width: 50px;
  background: -webkit-gradient(linear, left top, right top, from(var(--styleone)), to(var(--styletwo)));
  background: -o-linear-gradient(left, var(--styleone) 0%, var(--styletwo) 100%);
  background: linear-gradient(to right, var(--styleone) 0%, var(--styletwo) 100%);
  font-family: Roboto;
  border-radius: 3px;
  color: black;
}

.title {
  background-color: rgba(177, 177, 177, 0.603);
  font-family: Roboto;
  height: 50px;
}

.user {
  padding: 10px 5px;
}

.user::-webkit-scrollbar {
  width: 5px;
}

.user::-webkit-scrollbar-track {
  background: none;
}

.user::-webkit-scrollbar-thumb {
  background: var(--first);
  border-radius: 5px;
}

.user::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.user__card {
  cursor: pointer;
  background: var(--third);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.user__card.new {
  background: var(--new);
}

.user__card.active {
  background: var(--active);
}

.user__card:last-child {
  margin-bottom: 0;
}

.user__image {
  position: relative;
}

.user__image img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.user__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px 8px 10px;
  color: white;
  width: 100% !important;
}

.user__name {
  font-style: 16px;
  font-family: Roboto;
  letter-spacing: 1px;
  word-break: break-all;
}

.user__message {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__message-status {
  margin-left: auto;
}

.user__message-content {
  font-style: 16px;
  font-weight: 300;
  font-family: Roboto;
  color: #c7c7c7;
  display: inline;
}

.user__message-msg {
  display: inline;
}

.user__message-you {
  display: none;
}

.message {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.message__block {
  max-width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding-left: 20px;
  font-family: Roboto;
}

.message__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__time {
  font-size: 12px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c7c7c7;
  font-weight: 300;
  font-family: Roboto;
  margin-left: auto;
  letter-spacing: 1px;
}

.message__status {
  margin-top: 10px;
}

.message__img img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.message__name {
  margin-bottom: 5px;
  word-break: break-all;
}

.message__name a {
  color: white;
}

.message__text {
  font-weight: 300;
  padding-bottom: 10px;
  max-width: 350px;
}

.status-indicator {
  display: none;
  height: 7px;
  width: 7px;
  background-color: #00c800;
  border-radius: 50%;
  position: absolute;
  right: 8%;
  bottom: 10%;
}

#lastseen {
  display: none;
  font-size: 15px;
  color: #242424;
  font-weight: 300;
  text-align: center;
  padding: 0 2px;
}

@media (max-width: 850px) {
  .user__image img {
    width: 40px;
    height: 40px;
  }

  .message__img img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 800px) {
  .messages__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }

  .user__name {
    font-size: 12px;
    line-height: 13px;
  }

  .message {
    width: 350px;
  }

  .message__time {
    width: 80px;
    text-align: center;
  }

  .message__status {
    margin-top: 3px;
  }
}

@media (max-width: 768px) {
  .messages__title {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .messages__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-height: 70vh;
  }

  .messages__left.active {
    display: none;
  }

  .messages__left .title {
    border-radius: 3.5px;
  }

  .messages__right {
    display: block;
    position: absolute;
    top: 0px;
    right: -2000px;
    opacity: 0;
  }

  .messages__right.active {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    position: relative;
    opacity: 1;
    right: 0px;
  }

  .messages__right .title {
    border-radius: 3.5px;
  }
}

@media (max-width: 650px) {
  .messages__container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 450px) {
  .message {
    width: 260px;
  }

  .message__block {
    padding-left: 5px;
    max-width: 120px;
  }
}

@media (max-width: 372px) {
  .messages__text i {
    font-size: 14px;
  }

  .messages__text {
    font-size: 14px;
  }
}